h1 {
    color: white;
}

/* * {
    border: solid;
} */

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

#eu{
    width: 200px;
    height: 240px;
}

#trex{
    width: 230px;
    height: 240px;
}

#mario{
    width: 200px;
    height: 240px;
}

#mine{
    width: 200px;
    height: 240px;
}

#aviao{
    width: 230px;
    height: 240px;
}

#tim{
    width: 200px;
    height: 240px;
}

#burguer{
    width: 200px;
    height: 240px;
}